@page
@model IndexModel
@{
}

<div class="text-center">
    <h2>@Model.Message1</h2>
    <form method="post">
        <input type="number" name="sum" />
        <input type="submit" value="Send" />
    </form>
    <h3>@Model.Message2</h3>
</div>
